@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@font-face {
  font-family: "Great Vibes";
  src: url("/fonts/greatvibes-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/lora-variablefont.woff2") format("woff2");
  font-style: normal;
  font-weight: 400 500 700;
  font-display: swap;
}

@theme {
  --color-primary-accent: #40e0d0;
  --color-secondary-accent: #98fb98;
  --color-neutral-dark: #333333;
  --color-neutral-mid: #4b5563;
  --color-background: #ffffff;
  --color-background-alt: #f5f5f5;

  --font-display: "Great Vibes", serif;
  --font-body: "Lora", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-body);
    color: var(--color-neutral-dark);
    background-color: var(--color-background);
  }
}
