@import "tailwindcss";

@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/playfairdisplay.woff") format("woff");
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat.woff") format("woff");
  font-style: normal;
  font-weight: 400 500 700;
  font-display: swap;
}

@theme {
  --color-primary-accent: #40e0d0;
  --color-secondary-accent: #98fb98;
  --color-neutral-dark: #333333;
  --color-neutral-mid: #4b5563;
  --color-background: #ffffff;
  --color-background-alt: #f5f5f5;

  --font-display: "Playfair Display", serif;
  --font-body: "Montserrat", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-body);
    color: var(--color-neutral-dark);
    background-color: var(--color-background);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
    font-weight: 700;
  }
}
