---
type Props = {
  id: string;
};

const { id } = Astro.props;
---

<span class="anchor" id={id}></span>
<style>
  .anchor {
    display: block;
    height: 58px;
    visibility: hidden;
  }
</style>
