---
type Props = {
  id: string;
};

const { id } = Astro.props;
---

<span class="anchor" id={id}></span>
<style>
  @media (width <= 47.9375rem) {
    .anchor {
      display: block;
      height: 48px;
      visibility: hidden;
    }
  }
</style>
