---
type Props = {
  href: string;
  text: string;
};

const { href, text }: Props = Astro.props;
---

<a
  href={href}
  class="font-body inline-block bg-primary-accent text-neutral-dark font-bold py-3 px-8 rounded-lg shadow-lg hover:bg-white/80 transition-colors duration-300"
>
  {text}
</a>
