---
import Title from "@/components/Title.astro";
---

<section class="py-20 bg-neutral-50">
  <div class="container mx-auto px-4 max-w-4xl text-center">
    <Title>Bienvenidos</Title>
    <div
      class="relative aspect-video bg-neutral-200 rounded-lg shadow-xl overflow-hidden"
    >
      <lite-youtube
        videoid="M9GlrvH8yk8"
        id="wellcome-video"
        videotitle="Nuestras palabras de bienvenida"
        videoplay="Reproducir"
        params="controls=0&&rel=0&enablejsapi=1"
        posterquality="maxresdefault"
      >
        <img slot="image" src="/src/assets/screenshot-tablet.png" />
      </lite-youtube>
    </div>

    <style is:global>
      lite-youtube {
        --lite-youtube-frame-shadow-visible: no;
      }

      #wellcome-video::part(playButton) {
        background-color: var(--color-primary-accent, #40e0d0);
        background-image: none;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        transition: all 0.3s ease;
      }

      #wellcome-video::part(playButton):hover {
        background-color: var(--color-primary-accent, #40e0d0);
        background-image: none;
        opacity: 0.9;
      }
    </style>

    <script>
      import "@justinribeiro/lite-youtube";
    </script>

    <p class="font-body mt-8 text-neutral-mid font-light text-lg">
      Estamos muy felices de compartir este día con ustedes.
    </p>
  </div>
</section>
